/* ¿ ProductPage */
#productIdPage {
	background-color: #f0f8ff;
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

#product__info {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 3em 1.5em;
}

/* ¿ CARROUSEL */
#carrousel {}

.product__info.carrousel {
	grid-column: span 3;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
	/* width: 100%; */
	border-bottom: .2em solid var(--border);
	position: relative;
}

#carrousel {
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.carrousel__btn {
	border-radius: 50%;
	border: none;
	color: #242424;
	padding: 0;
	position: relative;
}

.carrousel__icon {
	background-color: var(--border);
	border-radius: 50%;
	font-size: 1.1rem;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	position: absolute;
	z-index: 1000;
	top: -7em;
}

.fa-angle-left {
	left: -3em;
}

.fa-angle-right {
	right: -3em;
}

.carrousel__box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	gap: 2em;
	justify-content: space-between;
	/* padding-bottom: 2em; */
}

.carrousel__box-bigImages {
	width: 300%;
	min-width: 600px;
	height: 60%;
	display: flex;
	flex-flow: row nowrap;
	transition: transform .5s ease;
	/* transform: translateX(calc(-0%)); */
}

.carrousel__img {
	width: calc(100%/3);
}

.carrousel__box-smallImages {
	height: 40%;
	min-height: 200px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	padding: 1em;
	gap: 1em;
}

.carrousel__img.small {
	min-width: 100px;
	border-radius: .2em;
	padding: .2em;
}

.carrousel__img.big {
	opacity: 0;
	transition: opacity .3s ease;
}

.carrousel__img.big.active {
	opacity: 1;
}

.carrousel__img.small.active {
	border: 2px solid var(--border);
}

/* ¿ BODY */
.product__info.description {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.productId__cart {
	display: grid;
	grid-template-columns: repeat(2, .5fr);
	gap: 2em;
}

.productId__cart div {
	background-color: var(--sea-salt);
}

.productId__price,
.productId__quantity {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productId__label.price {
	align-self: flex-start;
	margin-left: 1em;
	font-weight: 500;
	opacity: .8;
}

.productId__value.price {
	font-size: 1.2rem;
}

.quantity__buttons {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}

.quantity__buttons button i {
	color: var(--sea-salt);
	fill: var(--sea-salt);
}

.quantity__buttons button {
	font-size: 1.2rem;
	border: 2px solid var(--border);
	/* background-color: inherit; */
	font-weight: 700;
	border-radius: .1em;
	background-color: var(--quinacridone-magenta);
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 35px;
	padding: 0 .4em;

}

.quantity__buttons button:nth-of-type(2) {
	width: 50px;
	border-left: none;
	border-right: none;
}

.quantity i {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.productId__addToCart {
	grid-column: 1/3;
	display: flex;
	justify-content: center;
	height: 50px;
}

.productId__addToCart-btn {
	background-color: var(--quinacridone-magenta);
	color: var(--sea-salt);
	width: 100%;
}


/* ¿ FOOTER */
.product__info.similar-products {
	border-top: 2px solid var(--border);
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-top: 2em;
}

.similar__h2 {
	font-weight: 600;
	font-size: 1.7rem;
}

#similar-products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, .4fr));
	justify-content: center;
	gap: 1.5em;

}

.similar-products h2:first-child {
	grid-column: span;
}