#purchases__page {
	background-color: white;
}

.cards__conatiner.purchases {
	padding: 1em;
}

.purchases__div {
	padding: 1em;
	border-top: 3px solid var(--border);
	border-bottom: 3px solid var(--border);
	border-radius: .2em;
	margin-top: 1.8em;
}

.product__card.purchase {
	height: 100%;
	background-color: #fff;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	font-size: 22px;
	border-bottom: none;
}

.purchase__title.label,
.purchase__quantity.value,
.purchase__quantity.label {
	text-align: end;
}

.purchase__quantity.value{
	font-size: 1.1rem;
}
.purchase__total.value {
	font-size: 1.4rem;
}

.purchase__total.label,
.purchase__quantity.label {
	opacity: .8;
}