#purchases__page {
	background-color: white;
}

article.product__card.purchase {
	padding: 1em;
	max-height: none;
}

.purchases__div {
	padding: 1em;
	border-top: 3px solid var(--border);
	border-bottom: 3px solid var(--border);
	border-radius: .2em;
	margin-top: 1.8em;
}

.product__card.purchase {
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 22px;
	border-bottom: none;
}

@media (min-width: 768px) {
	.purchase__header {
		grid-column: 1/3;
		/* max-height: 300px; */
	}
}

.purchase__title.label,
.purchase__quantity.value,
.purchase__quantity.label {
	text-align: end;
}
.purchase__header{
	margin: 0 auto;
	height: 200px;
}
.purchase__img.purch {
	height: 100%;
}

.purchase__quantity.value {
	font-size: 1.1rem;
}

.purchase__total.value {
	font-size: 1.4rem;
}

.purchase__total.label,
.purchase__quantity.label {
	opacity: .8;
}
.purchase__quantity.label{
	margin-top: 2em;
	color: red;
}

@media (min-width: 768px) {
	.purchase__header {
		grid-column: 1/3;
		/* max-height: 300px; */
	}
}