#purchases {
	background-color: white;
}

#purchases__conatiner {
	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: center;
}

.purchases__cards {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
	max-width: 800px;
	background-color: #ef9f9f;
	padding: 1em 1.4em;
	border-radius: .4em;
}

.purchase__card {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
	border: 1px solid rgba(80, 7, 7, 0.333);
	border-radius: .4em;
	box-shadow: 0 1px 8px 4px #8889;
	background-color: rgb(177, 98, 98);
}

.purchase__header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.purchase__img {
	width: 70%;
	max-width: 300px;
}

.purchase__title {
	text-align: center;
	font-size: 1.02rem;
}

.purchase__footer {
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
	max-width: 300px;
	align-items: last baseline;
}
.purchase__footer h4,
.purchase__footer h5 {
	text-align: center;
	margin: 0;
}

.purchase__total.label {
	border-bottom: 1px solid black;
	padding-bottom: .4em;
	margin-bottom: .8em;
}

.purchase__quantity.label {
	border-bottom: 1px solid black;
	padding-bottom: .4em;
}